.h2-margin {
    font-style: normal;
    font-weight: 700;
    font-size: 59.3px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 100px;
}

.about-txt {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
}

.best-daily h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36.65px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    margin-top: 40px;
}

.about-vector {
display: none;

}

.about-star {
    display: none;
}

.scribble1 {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: -80px;
}


/* Responsive Design Start  */

@media screen and (max-width: 768px) {

    .h2-margin {
        font-size: 25px;
        padding-top: 50px;
    }

    .about-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .about-vector {
        display: none;
    }

    .about-star {
        display: none;
    }

    .best-daily h2 {
        font-size: 16px;
        padding: 0px 20px;
        line-height: 180%;
        margin-top: 30px;
    }


    .about-2nd {
        top: 0;
    }

    .about-2nd-last .img-1 {
        width: 30px;
        height: 30px;
    }

    .about-2nd-last .span2 {
        font-size: 10px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-star {
        left: 80%;
        top: -15%;
    }

    .about-vector {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-vector {
        display: none;
    }

    .about-star {
        left: 85%;
        top: -18%;
    }
}