@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Custom Scrollbar Design  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(45deg, #ea5507 -1%, #feccb1 0%, #f17432 0%, #ea5507 0%, #fb955e 100%);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(45deg, #f3c5bd 0%, #e86c57 0%, #cd4631 0%, #ff6600 75%, #c72200 100%);
}
